*{
    padding: 0;
    margin: 0;
    font-family: "Arial - Bold MT";
}

body,html {
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
}

header {
    background-image: url("background/wheat-back.jpg.png");
    background-position: bottom;
    background-size: cover;
    width: 100%;
}

h2{
    color: #000000;
    font-family: "Arial - Bold MT";
    font-size: 40px;
    line-height: 61px;
    text-transform: uppercase;
}

h3{
font-size: 20px;
line-height: 30px;
text-transform: uppercase;
}

h4{
    line-height: 30px;
    text-transform: uppercase;
    color: black;
}

h5{
    color: #000000;
    font-family: "Arial - Bold MT";
    line-height: 20px;
    text-transform: uppercase;
}

p{
    color: #404040;
    font-family: "Arial MT";
    line-height: 30px;
}

.header_logo{
    order: -1;
}
.conteiner {
    max-width: 800px;
    margin: 0 auto;
}
.conteiner_title{
    max-width: 800px;
    margin: 0 auto;
}

.header_content {
    padding: 55px 0px 150px 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    max-height: 550px;
}

#checkbox-menu,
.toggle {
    display: none;
}

.menu {
    margin-left: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.menu li {
    list-style-type: none;
    padding: 20px 25px;
    border-bottom:1px solid rgba(255, 255, 255, 0.2);
    border-top:1px solid rgba(255, 255, 255, 0.2);
}

.menu li:first-child {
    padding-left: 0px;
}

.menu li:last-child {
    padding-right: 0px;
}

.hedaer_title {
    max-width: 576px;
    margin-top:120px;
    align-self: center;
}

.hedaer_title h1 {
    color: #ffffff;
    font-size: 70px;
    line-height: 70px;
    text-align: center;
}


.menu li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    color: #ffffff;
}

.menu li:hover{
    border-bottom:1px solid white;
}

.menu li:hover a {
        color: #ffcb78;
}

.menu li:active a{
    color: rgba(255,203,120,0.3);
}

.product { 
    max-width: 800px;
    margin:0 auto;
    padding-bottom: 115px;
}

.product_title { 
    margin-top: 55px;
    padding: 25px 0px 0px 12px;
}

.product__box {
    display: flex;
    margin-top: 70px;
 }

.product__item { 
    border-left:1px solid rgb(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    max-width: 360px;
    justify-content: space-around;
    padding:0 0 0 40px;
    width: 90%;
}


.item__name { }

.item__info { 
    margin-top: 30px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.item__photo {
}

.item__consist {
    position: relative;
    right:35%;
 }


.item__table{
     border-collapse: collapse;
     margin-right: 0;
}

.item__table tr th {
    border: 1px solid #e5e5e5;
    padding: 10px 25px 12px 5px;
    color: #000000;
    font-family: "Arial - Bold MT";
    text-transform: uppercase;
    text-align: left;
}

.item__consist p {
    margin-top: 10px;
    max-width: 135px;
    font-size: 14px;
    line-height: 24px;
}

.item__subtitle { 
    margin-top: 10px;
    max-width: 315px;
}
.item__subtitle p {
    line-height: 30px;
}
.item__btn { 
    margin-top: 60px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.item__detail a,
.item__buy a{
    text-transform: uppercase;
    text-decoration: none;
    color: #834700;
    line-height: 20px;
    text-transform: uppercase;
}

.item__detail {
    border: 2px solid #834700;
}

.item__detail:hover{
    border:2px solid #6a3900;
}

.item__detail:hover a {
    color: #6a3900;
}

.item__detail:active{
    opacity: 0.3;
}

.item__buy:active,
.item__buy:hover{
    background-color: #6a3900;
}


.item__buy:active a{
    opacity: 0.3;
}

.button{
    padding: 10px 20px;
}

.item__buy { 
    background-color: #834700;
    margin: 0 5px;
}


.item__buy a{ 
    color: white;
}

.item__price { 
}

.item__price p{
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    vertical-align:middle;
    padding-top: 12px;
 }

.advantage { 
    background-color: #ffcb78;
    width: 100%;
    padding:80px 0px 100px 0px;
}

.conteiner-big {
    max-width: 1015px;
    margin: 0 auto;
}

.advantag__box { 
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.advantage__item { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 200px;
    padding-right: 115px;
    border-right: 1px solid rgb(64,64,64,0.3);

}
.advantage__item:last-child{
    border: none;
    padding-right: 0;
}

.adavantage__item__title { 
    margin: 30px 0px 20px 0px;
}

.beer::before{
    content: '';
    background-image: url('img/icon-brew.png.png');
    background-repeat: no-repeat;
    height: 70px;
}
.matreshka::before{
    content: '';
    background-image: url('img/icon-matreshka.png.png');
    background-repeat: no-repeat;
    height: 70px;
}

.thumbsup::before{
    content: '';
    background-image: url('img/icon-thumbsup.png.png');
    background-repeat: no-repeat;
    height: 70px;
}

.advantage__item__content p{
    line-height: 30px;
    color: #404040;
 }

.history { 
    padding: 80px 0px;
}

.history__box { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.history__item {
    margin-top: 60px;
    display: flex; 
    justify-content: space-between;
}

.item__text h3{
    margin-left: 3px;
}

.item__text { 
    margin-right: 100px;
}

.item__text p {
    margin-top:15px; 
    max-width: 690px;
    color: #404040;
    font-family: "Arial MT";
    line-height: 30px;
}



.item__wiki  p{ 
    font-family: "Arial - Italic MT";
    line-height: 30px;
    color: #444444;
    padding-bottom: 5px;

}

.item__wiki a{ 
    color: #834700;
}

.item__wiki a:hover{ 
    color: #6a3900;
}
.item__wiki a:active{ 
color: #cab7a2;
}


.item__wiki img{
    margin-top: 25px;
}

.press {
    background-color: #ede5d8;
    width: 100%;
    padding-bottom: 95px;
 }

.press__title { 
    padding:90px 0px 45px 0px
}

.pops::before{
    content: '';
    display: block;
    background-image: url('img/quotes.png.png');
    background-repeat: no-repeat;
    height: 30px;
    position: relative;
    right:95px;
    bottom:-35px;

}
.press__text { 
    max-width: 630px;
}


.press__link { 
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}

.link__btn{
    border: 2px solid   #a6a097;
    color:#a6a097;
}


.link__btn:active{
    background-color: #8f8a81;
    border:2px solid #8f8a81;
}
.link__btn:hover{
    background-color: #a5a097;
}

.link__btn:hover a{
    color:white;
}

.link__btn:active a{
    opacity: 0.3;
}


.link__btn a{
    color:#a6a097;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
 }


.assortment { 
    padding-top: 95px;
    padding-bottom: 90px; 
}


.assortment__table { 
    margin-top: 75px;
    border-collapse: collapse;

}

.assortment__table th{
    padding-bottom: 30px;
    color: #999999;
    font-family: "Arial MT";
    font-size: 11px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: left;
    border-bottom: 1px solid rgb(64,64,64,0.3);
}

.assortment__table td{
    color: #404040;
    font-family: "Arial MT";
    padding:15px 45px 20px 0px;
    border-bottom: 1px solid rgb(64,64,64,0.3)
    
}

.assortment__table tr td:first-child{
    padding-right: 240px;
    font-family: "Arial - Bold MT";
    color: #000000;
    
}

.assortment__table tr th:last-child {
    padding-left: 65px;
}

.assortment__table tr td:last-child{
    padding:15px 0px 20px 100px;
}

.assortment__table sup{
    background-color:black;
    color:white;
    font-family: "Arial - Bold MT";
    font-size: 8px;
    line-height: 30px;
    text-transform: uppercase;
    padding:3px;
    margin-left:20px;
    border-radius: 3px;
}

.order { 
    background-color: #ffcb78;
    padding: 80px 0px;
}

textarea,
select,
input:not(#checkbox){
    background-color: rgb(0,0,0,0.3);
    width: 80%;
    height: 50px;
    border: none;
    opacity: 0.3;
    color: #000000;
    font-family: "Arial - Bold MT";    
    line-height: 20px;
    text-transform: uppercase;
}

#checkbox{
    width: 36px;
    height: 36px;
    background-color: rgb(0,0,0,0.1);
    opacity: 0.5;
    margin-right: 15px;
}


.order__number,
.order__second-number{
    width: 44.5%;
}


.order__number-block{
    display: flex;
    flex-wrap: nowrap;
}

.order__form label{
    margin:15px 0px;
    color:white;
}
.order__form label p {
    margin-bottom: 10px;
    color: #000000;
    font-family: "Arial - Bold MT";
    line-height: 20px;
    text-transform: uppercase;
}
.order__title { 
}

.order__sub-title {
    margin-top:75px;
    margin-bottom: 60px;
 }
.order__form { 
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

select{
    padding-left:15px;
}

button{
    height: 50px;
    max-width: 200px;
    background-color: #834700;
    border: none;
}

button span{
    color: #ffffff;
    font-family: "Arial - Bold MT";
    line-height: 20px;
    text-transform: uppercase;
    }

footer{
    background-color: black;

}

.conteiner-big { }

.footer_box { 
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 60px 0px 40px 0px;
}

.footer__menu { 
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.footer__social { 
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-content: center;
         margin-top: 50px;
}
.social__media {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    background-color: #1b1b1b;
 }

 .social__media li {
    width: 73px;
    height: 68px;
    border: 2px solid #322d24;
 }

.social__media .inst{
    background:url('img/insta-icon.svg.png') no-repeat center;
}

.social__media .vk{
    background:url('img/vk-icon.svg.png') no-repeat center;
}

.social__media .fb{
    background:url('img/fb-icon.svg.png') no-repeat center;
}

 .inst::before{
    content: ' ';
    background-image: url('img/icon-brew.png.png');
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}

.сopyright { 
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.сopyright p{
color: #989898;
font-family: "Arial MT";
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: center;
}

.autor { 
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.autor__logo {
    display: flex;
    list-style-type: none;
    background-color: #1b1b1b;
    margin-right: 30px;
 }

 .autor__logo li{
    width: 73px;
    height: 68px;
    border: 2px solid #322d24;
    background:url('img/htmlacademy.png') no-repeat center;
 }

 .autor__name {
     align-self: center;
 }

.social-link:hover{
    border: 1px solid rgb(255,203,120,0.3);
}

.social-link:active{
    border: 1px solid rgb(255,203,120,0.1);
    opacity: 0.5;
}

@media screen and (max-width: 768px){
    .conteiner {
       max-width: 740px;
       margin: 0 auto;
    }

    .header_content{
        padding: 0;
        flex-direction: column;
    }

    .toggle{
        display: block;
        text-align: center;
        font-size: 14px;
        line-height: 40px;
        width: 100%;
        color: black;
        background-color: #ffcc01;
        transition:all .1s linear;
    }

    .toggle:hover {
        background-color:#d3a900;
    }

    #checkbox-menu:checked + label .touch li{
        opacity: 1;
        visibility: visible; 
        transition:all .7s linear;
    }

    #checkbox-menu:checked + label .touch {
        height: 400px;
    }
    nav{
        order:-1;
        width: 100%;
        margin: 0;
    }
    .menu{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        align-items: center;
        height: 0;
        transition: height .3s linear;
        margin: 0;
    }

    .menu li {
        display: flex;
        align-self: center;
        visibility: hidden;
        opacity: 0;
        width: 95%;
        padding: 0;
        height: 25%;
    }

    .menu li a {
        width: 95%;
        align-self: center;
        text-align: center;
    }

    .header_logo{
        margin: 25px 0px;
    }

    .hedaer_title {
        margin: 0;
    }

    .hedaer_title h1{
        font-size: 50px;
        line-height: 50px;
    }

    .menu li:hover{
        background-color:#d3a900;
        border-radius:15px;
    }

    .menu li:hover a{
        color:white;
    }

    .product__box{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product__item{
        margin-top:15px;
        padding:0;
        padding-left: 5px;
    }

    .item__photo img{
        max-width:250px;
    }

    .press__title{
        margin-left: 15px;
    }

    .press__item{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 95%;
    }
    .history__title,
    .press__text {
        padding-left: 15px;
    }

    .press__link{
        text-align: center;
        align-items: center;
        flex-direction: column;
    }
     
    .press__text{
        max-width: 400px;
    }

    .link__btn{
        margin-bottom: 30px;
    }

    .advantag__box {
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .advantage__item{
        margin-top: 25px;
        border-right: none;
        border-bottom: 2px solid #834700;
        padding-right: 0;
    }

    .advantage__item:last-child{
         border-bottom: 2px solid #834700;
    }

    .history__item{
        padding-left: 15px;
        flex-wrap: wrap;
        flex-direction: column;
        border-bottom: 2px solid #834700;
        max-width: 85%
    }

    .item__text{
        margin-right: 0px;
    }

    .assortment{
        padding-left: 15px;
    }

    .assortment__box{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .assortment td{ 
        padding:15px 25px 20px 0px;
    }

    .assortment__table tr td:first-child{
    padding-right: 20px;
    }

    .assortment__table tr th:last-child {
    padding-left: 7px;
    }

    .assortment__table tr td:last-child{
    padding:7px 0px 10px 10px;
    }
    .order__number-block{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .order__number,
    .order__second-number{
        width: 100%;
    }
    .order__form{
        justify-content: space-around;
        flex-direction: column;
        padding-right: 15px;
    }

    .order{
        padding:80px 15px;
    }

    .none{
        display:none;
    }

    .footer__social{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
    }

    .autor{
        margin-top: 15px;
    }

}



@media screen and (max-width: 360px){
    .conteiner{
        max-width: 340px;
        margin: 0 auto;
    }

    h2{
    font-size: 28px;
    line-height: 51px;
    }

    h3{
    font-size: 18px;
    line-height: 25px;
    }

    h4{
    line-height: 20px;
    }

    .item__consist {
        position: unset;
    }

    .item__info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    width: 95%;
    }

    .product__item{
        width: 90%;
    }
    
    .item__btn{
        flex-wrap: wrap;
    }

    .assortment{
     padding-left: 0px;
    }

    .assortment td{ 
        padding:15px 12px 20px 0px;
    }

    .assortment__table tr th:nth-child(2),
    .assortment__table tr td:nth-child(2){
    display: none;
    }

    .assortment__table tr th:first-child,
    .assortment__table tr td:first-child{
        padding-right: 0px;
    }

}